nav {
  background: linear-gradient(rgb(247, 247, 247), rgb(230, 228, 228));
  font-size: 1.04em;
  padding: 10px 50px;
  .navbar-brand{
      font-size: 1.4em;
    padding-right: 30px;
    color: rgb(20, 135, 211)!important;
  }
.nav-link{
    color: rgb(50, 50, 51)!important;
}

.btn{
    margin: 0 10px;
    color: #fff!important;
}

}
